<div class="content">

    <div class="detailsHeader col-sm-12">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h1>MoneyBags</h1></div>
        <div class="col-sm-4 align-right">UserName: {{userName}}</div>
    </div>

    <div class="addExpense">
        Description:<input ng-model="description"/><br>
        Pay Amount:<input ng-model="payAmount"/><br>
        Due Date:<input ng-model="dueDate"/><br>
        Rate:<input ng-model="rate"/><br>
        Total Left:<input ng-model="totalLeft"/><br>
        <button type="submit" ng-click="saveDebt(description,payAmount,dueDate,rate,totalLeft)">Save</button>
    </div>

    <div class="details">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Description</th>
                <th>Pay Amount</th>
                <th>Due Date</th>
                <th>Rate</th>
                <th>Total Left</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="userDebt in userDebts">
                <td>{{userDebt.description}}</td>
                <td>{{userDebt.payAmount}}</td>
                <td>{{userDebt.dueDate}}</td>
                <td>{{userDebt.rate}}</td>
                <td>{{userDebt.totalLeft}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>