<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Sign in or Create</h2>
        <label for="name" class="sr-only">Username:</label>
        <input id="name" class="form-control" type="text" ng-model="name" placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password:</label>
        <input id="password" class="form-control" type="password" ng-model="password" placeholder="Password" required>
        <br>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" ng-click="login(name, password)">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create" ng-click="createUser(name, password)">
    </form>
</div>